<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaperts</title>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- NAVEGATION -->
    <nav class="navbar navbar-expand-lg bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../img/LogoOficial.jpg" alt="Logo" width="50" height="65"
                    class="d-inline-block align-text-top">
                PLAPERTS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../index.html" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Inicio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#portada">Portada Plaperts</a></li>
                            <li><a class="dropdown-item" href="#sobrePlaperts">Sobre Plaperts</a></li>
                            <li><a class="dropdown-item" href="#alianzas">Alianzas</a></li>
                            <li><a class="dropdown-item" href="#historia">Breve Historia</a></li>
                            <li><a class="dropdown-item" href="#equipo">Nuestro Equipo</a></li>
                            <li><a class="dropdown-item" href="#sumate">Sumate a Plaperts</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Nuestros Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Productos y Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Sumate a Plaperts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Inicio Sesión</a>
                    </li>
                </ul>

            </div>


        </div>
    </nav><!-- FIN NAVEGACION -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Nuestros Servicios</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box center">

                        <div class="icon"><img src="../img/logosDePerfiles/LOGO-EVELIA .png" alt=""></i></div>
                        <h4><a href="">Lorem Ipsum</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>

                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="../emprendimientos/Evelia/index.html">Ingresar</a>
                        </button>
                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="#">Compartir</a>
                        </button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box center">

                        <div class="icon"><img src="" alt=""></i></div>
                        <h4><a href="">kaory Paredes</a></h4>
                        <p>Estilista de la ciudad de Cobija en el departamento de Pando</p>

                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="../emprendimientos/kaoryParedes/index.html">Ingresar</a>
                        </button>
                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="#">Compartir</a>
                        </button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box center">

                        <div class="icon"><img src="../img/logosDePerfiles/brasilerita.jpeg" alt=""></i></div>
                        <h4><a href="">Lucia</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>

                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="../emprendimientos/Lucia/index.html">Ingresar</a>
                        </button>
                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="#">Compartir</a>
                        </button>
                    </div>
                </div>
            </div>



        </div>
    </section><!-- End Services Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Nuestros Productos</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box center">

                        <div class="icon"><img src="../img/logosDePerfiles/carlitos.png" alt=""></i></div>
                        <h4><a href="">Carlos Andrés</a></h4>
                        <p>Eventos y decoraciones</p>

                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="../emprendimientos/carlos/index.html">Ingresar</a>
                        </button>
                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="#">Compartir</a>
                        </button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box center">

                        <div class="icon"><img src="../img/logosDePerfiles/maria.jpg" alt=""></i></div>
                        <h4><a href="">Maria</a></h4>
                        <p>Estilista de la ciudad de Cobija en el departamento de Pando</p>

                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="../emprendimientos/Maria/index.html">Ingresar</a>
                        </button>
                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="#">Compartir</a>
                        </button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box center">

                        <div class="icon"><img src="" alt=""></i></div>
                        <h4><a href="">####</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>

                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="">Ingresar</a>
                        </button>
                        <button type="button" class="btn btn-light" style="border-radius: 15px;">
                            <a class="nav-link" href="#">Compartir</a>
                        </button>
                    </div>
                </div>
            </div>



        </div>
    </section><!-- End Services Section -->




    <!-- JS BOOTSTRAP -->
    <script src="js/bootstrap.bundle.min.js">
    </script>

</body>

</html>